.top-icon{
    display: flex;
}

.search-section{
    font-size: 20px;
    position: relative;
    padding: 10px;
    display: flex;
}

#search-area{
    display: none;
}

.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg{
    width: 430px;
}

.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button{
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: beige;
}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

/* sideMenu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openNav{
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 430px) {
    .openNav{
        display: block;
    }
    .menus{display: none}
  }